<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/basic-styles.css">
   <title>ORDER TICKET</title>
   <script src="/js/disabled.js" defer></script>
</head>
<body>
   <div class="content">
   <h1>ORDER TICKET</h1>
   <form action="buy" method="POST">
      <select name="select">
         <option value="" disabled selected>Select...</option>
         <option value="skazka">SKAZKA</option>
         <option value="unimagine_dragons">UNIMAGINE DRAGONS</option>
         <option value="ac_dvdc">AC/DVDC</option>
       </select>
       <div class="div-button">
       <button class="disabled btn-grad" type="submit" disabled>ORDER</button>
      </div>
   </form>
</div>
   
</body>
</html>